.head_h1{
    /*height: 70px;*/
    /*line-height: 70px;*/
    /*margin: 0 0 0 30px;*/
    color: orange;
    display: inline-block;
    font-size: 40px ;
    font-family: 'Arial Narrow';
}

#Contain{
    background-color: lightyellow;
    padding-top: 20px; /*设置contain与上面header元素之间的距离*/
}


#Contain-side{
    /*width: 15%;*/
    float: left;
}

#Contain-main {
    width: 85%;
    padding: 20px 0 0 0;
    /*background-color: #fffae5;*/
    /*height: 1500px;*/
    background-color: lightyellow;
    min-width: 800px;
    float: left;
}

.example-input > span {
    width: 200px;
    margin: 0 8px 8px 0;
}